{{- define "main" }}

<header class="page-header">
  <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
  </h1>
  {{- if .Description }}
  <div class="post-description">
      {{ .Description }}
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <div class="post-meta">
      {{- partial "translation_list.html" . -}}
  </div>
  {{- end }}
</header>

<div id="searchbox">
  <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
      aria-label="search" type="search" autocomplete="off">
  <ul id="searchResults" aria-label="search results"></ul>
</div>

<br />&nbsp;
<hr>
<br />&nbsp;

<h2>Find Posts by Series</h2>
{{ with .Site.Taxonomies.series }}
<ul class="terms-tags">
  {{ range $key, $value := . }}
  <li>
    <a href="/series/{{ $key | urlize }}/" class="font_size_{{ .Count }}">
      {{ $key }}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
<br />

<h2>Find Posts by Category</h2>
{{ with .Site.Taxonomies.categories }}
<ul class="terms-tags">
  {{ range $key, $value := . }}
    <li>
    <a href="/categories/{{ $key | urlize }}/" class="font_size_{{ .Count }}">
        {{ $key }}
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
  <br />
  
  <h2>Find Posts by Tag</h2>
  {{ with .Site.Taxonomies.tags }}
  <ul class="terms-tags">
    {{ range $key, $value := . }}
    <li>
      <a href="/tags/{{ $key | urlize }}/" class="font_size_{{ .Count }}">
        {{ $key }}
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
  
  <br />&nbsp;
  <hr>
  <br />&nbsp;
  
  <h2>View Posts by Date</h2>
  
  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  
  {{- if site.Params.ShowAllPagesInArchive }}
  {{- $pages = site.RegularPages }}
  {{- end }}
  
  {{- range $pages.GroupByPublishDate "2006" }}
  {{- if ne .Key "0001" }}
  <div class="archive-year">
    <h2 class="archive-year-header">
      {{- replace .Key "0001" "" }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup>
  </h2>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 class="archive-month-header">{{- .Key }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup></h3>
    <div class="archive-posts">
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
      <div class="archive-entry">
        <h3 class="archive-entry-title">
          {{- .Title | markdownify }}
          {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
        </h3>
        <div class="archive-meta">
          {{- partial "post_meta.html" . -}}
        </div>
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
      </div>
      {{- end }}
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

{{- end }}{{/* end main */}}
